@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Comic Sans';
  src: url("../media/Fonts/comic-sans-ms_[allfont.ru].ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans Bold';
  src: url("../media/Fonts/comic-sans-ms-bold_[allfont.ru].ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  scroll-behavior: smooth;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

section {
  width: 100%;
}

.content-container {
  width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comic Sans Bold';
  color: #FB3154;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

.icon-cover {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #F6DF39;
  border-radius: 100px;
}

.icon-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.icon-text-container.phone {
  display: none;
}

.icon-text-container a,
.icon-text-container p {
  font-family: 'Comfortaa';
  font-size: 18px;
  font-weight: 700;
  color: #010101;
  text-decoration: none;
}

.icon-text-container:hover a {
  -webkit-transition: .1s;
  transition: .1s;
  color: #FB3154;
}

.cta {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: white;
  text-decoration: none;
  background: #FB3154;
  border-radius: 100px;
  -webkit-transition: .1s;
  transition: .1s;
}

.cta:hover {
  background: #d1334d;
}

.cta.cta-back-home {
  margin-top: 30px;
  width: 60%;
  padding: 18px 0;
}

.cta.invite-cta-mobile {
  display: none;
  padding: 18px 0;
}

#mobile-popup {
  display: none;
}

#mobile-popup .invitational_form {
  margin-top: 12px;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border-radius: 0;
  width: 100%;
}

#mobile-popup .invitational_form .form-border {
  border-radius: 0;
}

#mobile-popup.fancybox-content {
  padding: 24px;
}

/* Customize the label (the container) */
.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 138%;
  color: #5E5E5E;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #F8F9FB;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-wrap:hover input ~ .checkmark {
  background: #ecedf0;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrap input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrap .checkmark:after {
  left: 10px;
  top: 4px;
  width: 7px;
  height: 14px;
  border: solid black;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-section {
  min-height: 848px;
  background: url("../media/Backgrounds/Фон Главная.png");
  background-position: center;
}

.main-section.thanks {
  background: url("../media/Backgrounds/Фон Главная.jpg");
  background-size: cover;
}

header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 236px);
  height: 69px;
  padding-top: 18px;
}

header .icon-cover {
  width: 40px;
  height: 40px;
}

.mobile-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: none;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  background: white;
  font-family: 'Comfortaa';
  font-size: 18px;
  font-weight: 700;
  color: #010101;
  text-decoration: none;
  z-index: 100;
}

.header__invitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.header__invitation .cta {
  width: 193px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-info-container {
  position: relative;
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-info-container .main-photos {
  position: absolute;
  top: -76px;
  right: 0;
}

.event-info__text {
  max-width: 591px;
}

.event-info__text span {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: 36px;
  line-height: 167%;
  color: #010101;
}

.event-venue-date {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.event-venue-date .icon-cover {
  width: 40px;
  height: 40px;
}

.invitational_form {
  margin-top: 84px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.invitational_form input::-webkit-input-placeholder {
  color: #010101;
}

.invitational_form input:-ms-input-placeholder {
  color: #010101;
}

.invitational_form input::-ms-input-placeholder {
  color: #010101;
}

.invitational_form input::placeholder {
  color: #010101;
}

.form-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 24px 50px 30px 50px;
  border: 1px solid #FB3154;
  border-radius: 25px;
}

.form-border span {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #010101;
}

.form-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.form-inputs input {
  padding: 12px 20px;
  background: #F8F9FB;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #010101;
  border: 0;
}

.form-inputs input::-webkit-input-placeholder {
  color: #010101;
}

.form-inputs input:-ms-input-placeholder {
  color: #010101;
}

.form-inputs input::-ms-input-placeholder {
  color: #010101;
}

.form-inputs input::placeholder {
  color: #010101;
}

.form-inputs input:focus {
  outline: 0;
}

.form-submission {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-submission .cta {
  padding: 17px 66px;
  border: 0;
  margin-right: 30px;
  cursor: pointer;
}

.inviting-section {
  margin-top: 105px;
  padding-bottom: 34px;
  background: url(../media/Backgrounds/Запрошуємо.png);
  background-position: center;
}

.inviting-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
          column-gap: 48px;
}

.inviting-text span {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #010101;
}

.inviting-text span a {
  text-decoration: none;
  color: #FB3154;
}

.inviting-text p {
  margin-top: 20px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.section-programmes {
  margin-top: 116px;
  padding-bottom: 330px;
  background: url("../media/Backgrounds/Для батьків.png");
  background-position: center;
}

.program-for-parents-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}

.program-for-parents-container h4 {
  width: 100%;
  margin-bottom: 47px;
  text-align: center;
}

.program__parent-quote {
  margin-top: 40px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  padding: 0 30px 51px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border-bottom: 10px solid #F6DF39;
}

.program__parent-quote span {
  margin-top: 15px;
  font-family: 'Comic Sans Bold';
  font-size: 18px;
  line-height: 117%;
  color: #010101;
}

.program__parent-quote small {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5E5E5E;
}

.program__parent-quote p {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.parent-quote__avatar {
  margin-top: -40px;
  width: 80px;
}

.program-for-kids-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  width: 100%;
}

.program-for-kids-container h4 {
  margin-top: 50px;
  margin-bottom: 61px;
  width: 100%;
  text-align: center;
}

.program-kids-col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.program-kids__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}

.program-kids__point__text {
  padding-top: 22px;
}

.program-kids__point__text span {
  font-family: 'Comic Sans Bold';
  font-style: normal;
  font-size: 20px;
  line-height: 105%;
  color: #010101;
}

.program-kids__point__text p {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.program-kids__point__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-kids__point__icon .icon-cover {
  width: 80px;
  height: 80px;
}

.program-kids__point__icon .program-kids__point__bullets {
  margin: 8px 0;
}

.program-kids-col-left {
  width: 348px;
  padding-top: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.program-kids-col-left .program-kids__point__text {
  text-align: right;
}

.program-kids-col-right {
  width: 348px;
  padding-top: 20px;
}

.except-section {
  margin-top: -110px;
}

.except-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.except-content h4 {
  margin-bottom: 72px;
  width: 100%;
  text-align: center;
}

.except-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

.except-point span {
  margin-top: 20px;
  font-family: 'Comic Sans Bold';
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #010101;
}

.except-point p {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.for-who-section {
  margin-top: -170px;
  padding: 250px 0;
  background: url("../media/Backgrounds/Для кого.png");
  background-position: center;
}

.for-who-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.for-who-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 555px;
  padding-top: 67px;
}

.for-who-quote {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.for-who-quote:first-of-type {
  margin-top: 40px;
}

.for-who-quote p {
  margin-top: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.for-who-quote__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-family: 'Comic Sans Bold';
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #010101;
}

.for-who-quote__title .icon-cover {
  width: 30px;
  height: 30px;
  background: #F7E457;
}

.features-section {
  padding-top: 26px;
  padding-bottom: 72px;
  background: url("../media/Backgrounds/Особливості.png");
  background-position: center;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-container h3 {
  margin-bottom: 61px;
  width: 100%;
  text-align: center;
}

.features-points-container {
  position: relative;
  width: 100%;
  min-height: 574px;
}

.feature-point {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.feature-point.mimic {
  position: unset;
  z-index: -200;
}

.feature-point.active {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-user-drag: auto;
  pointer-events: auto;
}

.feature-point img {
  -webkit-user-drag: none;
}

.feature-point__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 92px;
}

.feature-point__text__info h4 {
  color: #010101;
}

.feature-point__text__info .feature-point__quote {
  margin-top: 20px;
}

.feature-point__text__info .feature-point__quote span {
  font-family: 'Comic Sans Bold';
  font-style: normal;
  font-size: 16px;
  line-height: 187%;
  color: #010101;
}

.feature-point__text__info .feature-point__quote p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.feature-point__text__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.feature-point__text__switcher__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
}

.feature-point__text__switcher__info span {
  color: #FB3154;
}

.feature-point__text__switcher__info p {
  color: #5E5E5E;
}

.feature-point__text__switcher__info .switcher__info__divider {
  width: 69px;
  height: 1px;
  background: #5E5E5E;
}

.feature-point__text__switcher__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.feature-point__text__switcher__buttons .feature__switcher__btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  background: #F6DF39;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.feature-point__text__switcher__buttons .feature__switcher__btn:hover {
  background: #fae43f;
}

.feature-point__text__switcher__buttons .feature__switcher__btn_disabled {
  background: #F8EB8F;
  cursor: not-allowed;
}

.territory-container {
  margin-top: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 41px;
          column-gap: 41px;
  padding: 0 5px;
}

.territory__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.territory__text p {
  margin-top: 20px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #010101;
}

.territory__text span {
  margin-top: 50px;
  font-family: 'Comic Sans';
  font-size: 18px;
}

.territory__video {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.territory__video a:nth-child(1) {
  position: absolute;
  -webkit-transition: .1s;
  transition: .1s;
}

.territory__video a:nth-child(1):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.map-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 50%;
  padding: 65px 12px 75px 0;
}

.invitational_form_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 555px;
}

.invitational_form_big span {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #010101;
}

.invitational_form_big .form-inputs {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 30px;
}

.invitational_form_big .form-submission {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invitational_form_big .form-submission label {
  width: 100%;
  margin-top: 30px;
}

.invitational_form_big .form-submission .cta {
  width: 100%;
  margin: 0;
}

.map-section__navigation {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.map-section__navigation .map__waves {
  position: absolute;
  top: 0;
  left: 0;
}

.map-section__navigation iframe {
  width: 160%;
  height: 100%;
  margin-left: -40%;
}

.map-section__navigation small {
  display: none;
}

footer {
  width: 100%;
  padding: 57px 0 19px 0;
  background: #DCF5CD;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
}

.footer__info .icon-cover {
  width: 40px;
  height: 40px;
}

.footer__info-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

.info-part__title {
  font-family: 'Comic Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 133%;
  color: #010101;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(93, 93, 93, 0.25);
  padding: 15px 5px 0 5px;
}

.footer__copyright p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #5E5E5E;
}

.footer__copyright img {
  margin-top: 4px;
  margin-left: 10px;
}

@media screen and (max-width: 1440px) {
  header {
    width: 1140px;
  }
  .main-content h1 {
    font-size: 48px;
  }
  .main-content span {
    font-size: 24px;
  }
  .main-content .main-photos {
    top: -120px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 1170px) {
  main {
    overflow: hidden;
  }
  section {
    background-repeat: no-repeat !important;
  }
  header {
    width: 960px;
  }
  .content-container {
    width: 960px;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 44px;
  }
  .event-info__text span {
    font-size: 24px;
  }
  .event-info-container .main-photos {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    right: -120px;
  }
  .inviting-section {
    margin-top: 0;
  }
  .inviting-content img {
    width: 340px;
  }
  .program-for-kids-container .kids-program-image {
    display: none;
  }
  .section-programmes {
    padding-bottom: 150px;
  }
  .except-point {
    width: 31%;
  }
  .feature-point > img {
    width: 450px;
  }
  .feature-point__text {
    padding-top: 24px;
  }
  .territory__video img:nth-child(2) {
    width: 400px;
  }
  .map-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-section__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 65px 12px 24px 0;
  }
  .map-section__form .invitational_form_big {
    max-width: 92%;
    width: 100%;
  }
  .map-section__navigation {
    height: 450px;
  }
  .map-section__navigation iframe {
    width: 100%;
    margin-left: 0;
  }
  .map__waves {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  header {
    width: 95%;
  }
  .content-container {
    width: 95%;
  }
  .event-info__text {
    max-width: 60%;
  }
  .event-info-container .main-photos {
    top: -110px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .form-inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 12px;
  }
  .form-submission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-submission .cta {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }
  .form-submission label {
    width: 100%;
  }
  .main-section {
    background-position: top;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  .inviting-section {
    margin-top: 48px;
  }
  .inviting-content {
    padding-top: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .inviting-text span {
    font-size: 16px;
  }
  .program__parent-quote {
    width: 45%;
  }
  .for-who-content img:nth-child(2) {
    display: none;
  }
  .for-who-text {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature-point {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-point > img {
    display: none;
  }
  .features-points-container {
    min-height: 350px;
  }
  .territory-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .for-who-image {
    width: 100%;
  }
  section {
    background-position: bottom;
  }
  header {
    display: none;
    width: 95%;
  }
  header .icon-text-container {
    display: none;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-text-container.phone {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-text-container.phone .icon-cover {
    width: 40px;
    height: 40px;
  }
  .event-info-container {
    margin-top: 10px;
  }
  .event-info-container .main-photos {
    margin-top: 18px;
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    position: unset;
  }
  .event-info__text {
    max-width: 100%;
  }
  .event-venue-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-venue-date .icon-text-container {
    margin-bottom: 10px;
  }
  .main-content .invitational_form {
    display: none;
    margin-top: -95px;
  }
  .cta.invite-cta-mobile {
    display: -ms-grid;
    display: grid;
  }
  .form-border {
    padding: 12px 20px;
  }
  .invitational_form {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .invitational_form_big {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inviting-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inviting-content img {
    margin-top: 34px;
    width: 100%;
  }
  .section-programmes {
    margin-top: 42px;
    background-position: bottom;
  }
  .program__parent-quote {
    width: 100%;
  }
  .program-for-kids-container h4 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .program-for-kids-container .program-kids__point__bullets {
    opacity: 0;
  }
  .program-for-kids-container .kids-program-image {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .program-for-kids-container .program-kids-col-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .program-for-kids-container .program-kids-col-left .program-kids__point {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .program-for-kids-container .program-kids-col-left .program-kids__point .program-kids__point__text {
    text-align: left;
  }
  .program-for-kids-container .program-kids-col-right .program-kids__point:first-of-type {
    margin-top: 30px;
  }
  .except-content h4 {
    margin-bottom: 40px;
  }
  .except-point {
    width: 100%;
    margin-bottom: 40px;
  }
  .except-content .invitational_form {
    margin-top: 58px;
  }
  .for-who-content img:nth-child(2) {
    margin-top: 20px;
    display: block;
  }
  .for-who-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .for-who-section {
    background-position: bottom;
    padding-bottom: 56px;
  }
  .feature-point > img {
    display: block;
    width: 100%;
  }
  .territory-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .territory__video {
    margin-top: 40px;
  }
  .territory__video img:nth-child(2) {
    width: 100%;
  }
  .map-section__form {
    padding-top: 0;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info > img {
    width: 120px;
  }
  .footer__info-part {
    margin-top: 30px;
  }
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h4 {
    font-size: 24px;
  }
  .feature-point__text__switcher {
    -webkit-box-ordinal-group: -19;
        -ms-flex-order: -20;
            order: -20;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=style.css.map */